h1 {
    font-size: 30px;
}
/* Reset CSS */
* {
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #1e0d0d;
    color: white;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  
  
 /* Sidebar Styles */
.sidebar {
  width: 200px;
  background-color: #333;
  padding: 20px; /* Adjust padding */
  text-align: center;
  align-content: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li a {
  text-decoration: none;
  color: #b50303;
  font-size: 18px; /* Adjust font size */
}

.sidebar li a:hover {
  color: #f0a610; /* Change color on hover */
}

  
  .content {
    flex: 1;
    padding: 20px;
    align-items: center;
  }
  
  /* Header Styles */
  .header {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  
  /* Button Styles */
button {
  padding: 10px 20px;
  background-color: #f0a610; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Darker Green */
}

.cardButton {
  background-color: #f0a610; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 20px;
  align-content: center;
}

img {
  margin-left: 20px;
}